{% extends "base.html" %}
{% block content %}
<article class= "container">
<section>
  <h1>DETAIL PAGE</h1>
  
  <h5>작성자 : <a href="{% url "accounts:profile" movie.user.pk %}">{{movie.user}}</a></h5>
  {% if movie.image %}
  <img src="{{movie.image.url}}" alt="">
  {% endif %}
  <h2>{{movie.title}}</h2>
  <h5>{{movie.content}}</h5>
  <h6>장르 : {{movie.genre}}</h6>
  <h6>평점 : {{movie.score}}</h6>
  <div style = "display: flex; justify-content: space-between;">
  <span>좋아요 수 : {{movie.like_users.all|length}}</span>
  {% if movie.user != request.user %}
  {% if request.user in movie.like_users.all %}
  <a href="{% url "movies:like" movie.user.pk %}" class="btn btn-danger">좋아요 취소</a>
  {% else %}
  <a href="{% url "movies:like" movie.user.pk %}" class="btn btn-primary" >좋아요</a>
  {% endif %}
  {% endif %}
</div>
</section>
<hr>
<a href="{% url "movies:update" movie.pk %}" class="btn btn-secondary">UPDATE</a>
<a href="{% url "movies:delete" movie.pk %}" class="btn btn-danger">DELETE</a>
<hr>
<h4>댓글 목록</h4>
  <ul class="list-group" style = "margin-bottom: 20px;">
    {% for comment in comments %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>{{comment.user}} : {{comment.content}}</span>
      {% if request.user == comment.user %}
      <form action="{% url "movies:delete_comment" movie.pk comment.pk %}" method="post" style="display: inline;">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit" value="DELETE">
      </form>
      {% endif %}
  </li>
    {% endfor %}
  </ul>
  <form action="{% url "movies:create_comment" movie.pk %}" method = "POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value = "댓글 작성">
  </form>
<hr>
<a href="{% url "movies:index" %}" class="btn btn-primary">BACK</a>
</article>
{% endblock content %}