{% extends "base.html" %}
{% block content %}
<article class= "container">
<section>
  <h1>DETAIL PAGE</h1>
  {% if movie.image %}
  <img src="{{movie.image.url}}" alt="">
  {% endif %}
  <h2>{{movie.title}}</h2>
  <h5>{{movie.content}}</h5>
</section>
<hr>
<a href="{% url "movies:update" movie.pk %}" class="btn btn-secondary">UPDATE</a>
<a href="{% url "movies:delete" movie.pk %}" class="btn btn-danger">DELETE</a>
<hr>
  <form action="{% url "movies:create_comment" movie.pk %}" method = "POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value = "댓글 작성">
  </form>
<hr>
  <h4>댓글 목록</h4>
  <ul>
    {% for comment in comments %}
      <li>{{comment.user}} : {{comment.content}}</li>
    {% endfor %}
  </ul>
<hr>
<a href="{% url "movies:index" %}" class="btn btn-primary">BACK</a>
</article>
{% endblock content %}