<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
   li {
      padding: 10px;
      border: 1px solid #ccc;
      margin: 10px 0;
      background-color: #f5f5f5;
    }
    .cheap {
      background-color: #e1f7e1;
    }
    .expensive {
      background-color: #f7e1e1;
    }
    .selected {
      background-color: #ffc;
    }
  </style>
</head>
<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <div id="app">
    <h1>다양한 전시 정보</h1>
    <h3 >관람 예정인 전시 : <span>{{selectedInfos.join(', ')}} </span></h3>
    <p>예상 총 금액 : {{totalPrice}}</p>
    <h3 v-show="selectedInfos.length === 0">관람 예정인 전시가 없습니다.</h3>
    <hr>
    <label for="isActive">전시 중인 정보만 보기</label>
    <input type="checkbox" id="isActive" v-model="isActive">
    <ul v-for="art in isActiveExhibition" :key="art.name">
      <li :class="{cheap: art.price <= 5000, expensive: art.price >= 20000, selected: art.isSelected}">
        <div v-if="art.isExhibit">
          <label for="isSelected">전시 관람 하기</label>
          <input type="checkbox" id="isSelected" v-model="art.isSelected">
        </div>
        <p v-if="!art.isExhibit" style="color:red;">전시가 종료되어 관람할 수 없습니다.</p>
        <h3>{{ art.name }}</h3>
        <hr>
        <p>{{art.address}}</p>
        <p>가격 : {{art.price}}</p>
        <p v-show="art.price ===0">무료 전시 입니다.</p>
        <hr>
      </li>
    </ul>
  </div>

  <script>
    /*
			1. 주어진 전시 정보를 객체에 담고, 모든 객체를 하나의 배열에 할당하시오.
			2. 반복문을 활용하여 각 전시 정보를 화면에 렌더링하시오.
				- key 값은 전시 이름으로 할당한다.
      - 전시 정보
            무라카미 다카시 : 무라카시좀비
            부산 시립 미술관
            1000

            마우라치오 카텔란 개인전
            리움 미술관
            30000

            조선백자전
            리움 미술관
            30000

            한국 실험미술 1960 - 1970
            국립현대미술관
            0

            에드워드 호퍼 : 길 위에서
            서울 시립 미술관
            1000

            알렉산더 칼더 x 이우환
            국제갤러리 서울점
            15000
    */
   const {createApp, ref, computed, watch} = Vue
   const app = createApp({
    setup() {
      const artInfo = ref([
        {name: '무라카미 다카시 : 무라카시좀비',
        address: '부산 시립 미술관',
        price: 1000,
        isExhibit: true,
        isSelected: false
        },
        {name: '마우라치오 카텔란 개인전',
        address: '리움 미술관',
        price:30000,
        isExhibit: true,
        isSelected: false
      },
        {name: '조선백자전',
        address: '리움 미술관',
        price: 30000,
        isExhibit: true,
        isSelected: false},
        {name: '한국 실험미술 1960 - 1970',
        address: '국립현대미술관',
        price: 0,
        isExhibit: true,
        isSelected: false},
        {name: '에드워드 호퍼 : 길 위에서',
        address: '서울 시립 미술관',
        price: 1000,
      isExhibit:false,
      isSelected: false},
        {name: '알렉산더 칼더 x 이우환',
        address: '국제갤러리 서울점',
        price: 15000,
        isExhibit: false,
        isSelected: false}
      ])
      const isActive = ref(false)
      const isActiveExhibition = computed(() => {
        if (isActive.value === true) {
          return artInfo.value.filter(info => info.isExhibit === true)
        } else {
          return artInfo.value
        }
      })
      
      const selectedInfos = ref([]);
      const totalPrice = ref(0)
      watch(artInfo, () => {
        selectedInfos.value = artInfo.value.filter(art => art.isSelected).map(art => art.name)
        artInfo.value.filter(art => art.isSelected).forEach(art => totalPrice.value += art.price)
      }, { deep: true });

      return {
        artInfo,
        isActiveExhibition,
        isActive,
        selectedInfos,
        totalPrice
      }
    }
   })
   app.mount('#app')
  </script>
</body>
</html>
