{% extends "base.html" %}
{% block content %}

<h1 style="display:flex; justify-content: space-between;">{{user.username}}님의 프로필 페이지
  <span class="fs-6">팔로잉: {{followings|length}} / 팔로워: {{followers|length}}
    {% if request.user != user %}
    {% if request.user in followers %}
    <a href="{% url "accounts:follow" user.pk %}" class="btn btn-light">UnFollow</a>
    {% else %}
    <a href="{% url "accounts:follow" user.pk %}" class="btn btn-light">Follow</a>
    {% endif %}
    {% endif %}
  </span>
</h1>
<div = class="p-3 mb-2">
<p>회원 번호 {{user.pk}}</p>
<p>유저 이름 : {{user.username}}</p>
<p>가입 날짜 : {{user.date_joined}}</p>
</div>
<hr>
<h2>유저가 쓴 글</h2>
<div = class="p-3 mb-2 bg-body-tertiary">
  {% if boards %}
{% for board in boards %}
<p>글 번호 : {{board.pk}}</p>
<p>글 제목 : <a href="{% url "boards:detail" board.pk %}">{{board.content}}</a></p>
{% endfor %}
{% else %}
<p>아직 작성한 게시글이 없습니다.</p>
{% endif %}
</div>
<hr>
<h2>유저가 쓴 댓글</h2>
<div = class="p-3 mb-2">
{% if comments %}
{% for comment in comments %}
<p>댓글 : {{comment.content}}</p>
{% endfor %}
{% else %}
<p>아직 작성한 댓글이 없습니다.</p>
{% endif %}
</div>
<hr>
<h2>팔로워</h2>
<div = class="p-3 mb-2">
{% if followers %}
{% for follower in followers %}
<p>{{follower.username}}</p>
{% endfor %}
{% else %}
<p>아직 '{{user.username}}' 을(를) 팔로워 한 사람이 없습니다.</p>
{% endif %}
</div>
{% endblock content %}