<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>도서 리뷰서비스</title>
</head>
<body>
  <section>
    {% if request.user.is_authenticated %}
    <h3>Hello, {{user.username}}</h3>
      <form action="{% url "accounts:logout" %}" method ="POST">
      {% csrf_token %}
      <input type="submit" value = "로그아웃">
    </form>
    {% else %}
    <a href="{% url "accounts:login" %}">로그인</a>
    {% endif %}
  </section>
  {% block content %}
  {% endblock content %}
</body>
</html>